<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1>Task Details</h1>

  <h2><%= @task.title %></h2>
  <p><%= @task.details %></p>

  <input type="checkbox">"This task is not completed yet"</input>
  <br>
  <br><%= link_to "go back to the task list", tasks_path %>
</body>
</html>
